

<div class="row mb-2">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
  <div *ngIf="product">
    <h3>{{ product.name }}</h3>
    <img class="images" [src]="product.imageUrl" alt="{{ product.name }}" />
    <p>{{ product.description }}</p>
    <h3>{{ product.price | currency }}</h3>
   <strong class="mt-1"> Variant :</strong>
    <form [formGroup]="productForm">
      <div formArrayName="variants" *ngFor="let variant of variants.controls; let i = index">
        <label [formGroupName]="i">
          <input type="radio" formControlName="selected" [value]="true" (change)="onVariantSelected(i)">
          {{ variant.get('name')?.value }}
        </label>
      </div>
    </form>

    
    <Strong class="mt-1">Qty</Strong>
     
    <div class="quantity-controls" *ngIf="cartPurchasedDetail">
      <button (click)="decrementQuantity(product)" class="btn btn-sm btn-outline-secondary">-</button>
      <input type="number" [(ngModel)]="cartPurchasedDetailQuantity"  class="form-control quantity-input" disabled/>
      <button (click)="incrementQuantity(product)" class="btn btn-sm btn-outline-secondary">+</button>
    </div>

    <strong>Total </strong>
    <strong>  Actual Price {{cartPurchasedDetail?.actualPrice}}</strong>
   <div class="col-md-12" *ngIf="!cartPurchasedDetail">
    <button type="button" class="btn  btn-light add me-2" (click)="addToCart('ADD')">Add to Cart</button>
    <button type="button" class="btn  btn-light cncl me-2" (click)="cancel()">Cancel</button>
   </div>

    
  </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-3">
  <button type="button" class="btn  btn-success btn-lg gotocart me-2" *ngIf="showGoToCartButton" (click)="goToCart()">Go to Cart</button>
  <button type="button" class="btn  btn-light btn-lg bck me-2" (click)="backToProductListPage()">Back</button>
  
</div>
</div>


 

 
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
     
  <div class="loading-content">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif" alt="Loading..." />
    <p>Loading, please wait...</p>
  </div>
</ngx-spinner>